 /* parent container */
.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    padding:2em;
    overflow:scroll;
    max-height: 95%;
}

 /* each box */
.project-item {
    /* box styling */
    background: #d6efff;
    box-sizing: content-box;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    border-radius: 0;
    font-family: "Pixelated MS Sans Serif",Arial;
    font-size: 0.7em;

    width: 15em;
    flex-shrink: 0;
    padding: 1.5em;
}

 /* preview image in box */
.content-preview {
    background-color: #fff;
    width: 15em;
}

.content-title{
    font-size: 1.4em;
}

 /* -------   general ------- */

 .post-container {
    color: #0a0a0a;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: space-evenly;
    overflow:auto;
    max-height: 100%;
 }

 .blog-text{
    width:45%;
 }


 .blog-text-b{
    width:45%;
    padding-top: 0.34em;
 }

 .blog-photo-a{
    width:45%;
    height: 50%;
    border: 2px inset #ffddec;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
 }

 .blog-photo-b{
    width:45%;
    height: 50%;
    border: 2px inset #ffddec;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
 }

 
 /* -------   youtube embeds ------- */
 .video{
   width:32em;
   height: 30em;
 }

 
 
 /* -------   pom app ------- */

 .pom-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow:auto;
    max-height: 100%;
    color: #0a0a0a;
}