
.window {
    background: #d6efff;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    padding: 0.1;
    width: fit-content;
    height: fit-content;
    -webkit-font-smoothing: none;
    font-family: "Pixelated MS Sans Serif",Arial;
    font-size: 0.7em;
    position: absolute;
    top:50%;
    left:50%;

}

.window:has(.project-container){
    top:45%;
    left:50%;
}

.window-content{
    width: 30em;
    height: 30em;
}

.title-bar{
    color: #000000;
    align-items: center;
    background: linear-gradient(90deg, #24bdff,#70f3ff,#bcf4ff);
    display: flex;
    justify-content: space-between;
    padding: 3px 2px 3px 3px;
}

.title-bar-text {
    font-weight: 700;
    letter-spacing: 0;
}

.title-bar-controls {
    color: #000000;
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.title-bar-controls button {
    min-height: 1.5em;
    min-width: 1.5em;
    font-size: 1.1em;
    padding: 0;
    background: #d6f6ff;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
    border-radius: 0; 
}
.status-bar{
    display: flex;
    color: #000000;
    flex-direction: row;
    background: #d6f7ff;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    padding: 3px;
    gap: 1px;
    margin: 0 1px;
}

.status-bar-field{
    box-shadow: inset -1px -1px #dfdfdf, inset 1px 1px grey;
    flex-grow: 1;
    margin: 0;
    padding: 2px 3px;
}

