 
 
 /* css for about window  */

.about-container{
    background: #ffd6e7;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    padding: 3px;
    color: #0a0a0a;
}

.about-back{
    background: #ffd6e7;
   
}

.profile-section{
    display: flex;
    padding: 1em;
}
.profile-pic{
    width:auto;
    height: 100px;
    border: 2px inset #ffddec;
    padding-left: 0.5em;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    padding: 3px;
}

.profile-info{
    text-align: center;
    padding-left: 0.5em;
}

.profile-info-head{
    font-size: medium;
}

.int-section{
    text-align: left;
    padding: 0.5em;
}