.about-container {
    
}

.about-info{
    display: flex;
    padding: 2%;
    justify-content: space-evenly;
}

.about-info img{
    height: 10em;
    width: 10em;
}

.about-window {
    background: #ffd6e7;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    padding: 3px;
}

.menu-tab {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0 0 -2px;
    padding-left: 3px;
    position: relative;
    text-indent: 0;
}

.menu-tab li{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: inset -1px 0 #0a0a0a, inset 1px 1px #dfdfdf, inset -2px 0 grey, inset 2px 2px #fff;
    z-index: 1;
}